src/resource/
.vscode
.qtcreator
build
CMakeLists.txt.user
*.user
cmake-build-*/
android
src/resources_qrc
src/resource.qrc
src/qml/window/Game/battles/
src/qml/window/Lore/chapters/
src/qml/window/Lore/components/characterImageMap.json